body {
    background: url("assets/bg-desktop-light.jpg") no-repeat;
    background-size: 100%;

}

@media only screen and (max-width: 500px) {
    body {
        background: url("assets/bg-mobile-dark.jpg") no-repeat;
        background-size: 100%;
    }
}